<h2>企業情報</h2>

企業名：<%= @company.name %><br>
基本給：<%= @company.maney %><br>

<h3>給与の変動がある場合</h3>
<%= link_to '給与変動追加', new_salary_path(company_id: @company.id)%>
<% Salary.all.each do |salary| %>
    <% if @company.id ==  salary.company_id %>
        変動給：<%= salary.maney %>
        <% if salary.date != nil %>
            日付：<%= salary.date %>
        <% end %>
        <% if salary.week != nil %>
            <% s = ["日","月","火","水","木","金","土"]%>
            週：<%= s[salary.week] %>
        <% end %>
        <% if salary.time1 != nil %>
            時間帯：<%= salary.time1.strftime("%H:%M")%> ~ <%= salary.time2.strftime("%H:%M")%>
        <% end %>
        <%= link_to '削除', "/salarys/#{salary.id}", method: :delete%><br>
    <% end %>
<% end %>
<hr>
<%= link_to '企業削除', "/companies/#{@company.id}", method: :delete%>
<%= link_to '戻る', root_path %>